In [4]:

import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Veri Setinin Tanıtımı

Veri seti, simüle edilmiş trafik kazası verilerini içeren detaylı kayıtlardan oluşmaktadır. Bu simülasyonlar, kaza sırasında hayatta kalma olasılığını etkileyen faktörlere odaklanarak oluşturulmuştur.

Hedef Değişken:
Veri setindeki hedef değişken, kaza sonucunda hayatta kalma durumudur (örneğin, 0: hayatta kalmadı, 1: hayatta kaldı).

In [5]:

df=pd.read_csv('veri.csv')

# 2. Veri Ön İşleme

In [6]:
df.head()

   Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
0   56  Female             27.0          No            No         1
1   69  Female             46.0          No           Yes         1
2   46    Male             46.0         Yes           Yes         0
3   32    Male            117.0          No           Yes         0
4   60  Female             40.0         Yes           Yes         0

In [7]:
df.tail()

     Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
195   69  Female            111.0          No           Yes         1
196   30  Female             51.0          No           Yes         1
197   58    Male            110.0          No           Yes         1
198   20    Male            103.0          No           Yes         1
199   56  Female             43.0          No           Yes         1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              200 non-null    int64
 1   Gender           199 non-null    object
 2   Speed_of_Impact  197 non-null    float64
 3   Helmet_Used      200 non-null    object
 4   Seatbelt_Used    200 non-null    object
 5   Survived         200 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 9.5+ KB

In [9]:
df.isnull().sum()

Age                0
Gender             1
Speed_of_Impact    3
Helmet_Used        0
Seatbelt_Used      0
Survived           0
dtype: int64

In [10]:
df=df.dropna()

In [11]:
df['Survived'] = df['Survived'].astype('category')
df['Gender'] = df['Gender'].astype('category')
df['Helmet_Used'] = df['Helmet_Used'].astype('category')
df['Seatbelt_Used'] = df['Seatbelt_Used'].astype('category')
df['Speed_of_Impact'] = df['Speed_of_Impact'].astype('int64')

In [12]:
df.describe()

              Age  Speed_of_Impact
count  196.000000       196.000000
mean    43.341837        70.433673
std     15.004973        30.202236
min     18.000000        20.000000
25%     31.000000        43.000000
50%     44.000000        71.000000
75%     56.000000        95.500000
max     69.000000       119.000000

In [13]:
df.describe(include='category')

        Gender Helmet_Used Seatbelt_Used  Survived
count      196         196           196       196
unique       2           2             2         2
top     Female         Yes           Yes         1
freq       109         109           110       100